.no-margin{
    margin: 0;
  }

.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
  background-color: lightgray;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 80px;
}
 
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}