<div >
    <div class="row  no-gutters">

        <menu class="col-1 sidebar no-margin align-items-center">
            <h3 class="site-name">STATUS</h3>
            <nav class="align-items-center">
                <ul class="nav nav-pills flex-column float-left ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Услуги <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Тренинги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Выход</a>
                    </li>
                </ul>
            </nav>
        </menu>

        <div class="col content-block">
            <header class="header clearfix no-margin">
                <h3 class="text-muted ">Angular Blog App (Название текущего раздела)</h3>
            </header>
            <main role="main" class="main-content-block">
                    <app-show-post></app-show-post>
            </main>
        </div>
    </div>
</div>